*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body,
body a {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  text-decoration: none;
  color: #000;
}

@keyframes border-dance {
  0% {
    background-position: left top, right bottom;
  }
  100% {
    background-position: right top, left bottom;
  }
}

@keyframes border-dance-before {
  0% {
    background-position: left top;
  }
  100% {
    background-position: right top;
  }
}

@keyframes border-dance-after {
  0% {
    background-position: right bottom;
  }
  100% {
    background-position: left bottom;
  }
}

@keyframes map {
  0% {
    background-position: left top, right bottom, right top, left bottom;
  }
  100% {
    background-position: right top, left bottom, right bottom, left top;
  }
}

footer {
  padding-top: 6rem;
}

footer .line {
  padding-bottom: 1rem;
  margin: 0 auto;
  width: 90%;
  background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.3) 1px, transparent 5px);
  background-size: 100% 12px;
  background-repeat: repeat-x;
  background-position: 0 0;
}

footer .section1 {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 15rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Bad Script", cursive;
}

footer .section1 p {
  margin: 0;
  font-size: 3.5rem;
}

footer .section1 a {
  cursor: pointer;
}

footer .section1 .btn-foot {
  cursor: pointer;
  font-size: 1.2rem;
  color: black;
  background-color: #fff;
  font-family: "Bad Script", cursive;
  padding: .5rem 2.7rem;
}

footer .section1 .btn-foot:hover {
  color: #fff;
  background-color: #000;
}

footer .line-reverse {
  padding: 2rem;
  margin: 0 auto;
  width: 90%;
  background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.3) 1px, transparent 5px);
  background-size: 100% 12px;
  background-repeat: repeat-x;
  background-position: 0 0;
}

footer .section2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  width: 90%;
  grid-column-gap: 3rem;
}

footer .section2 .col-sec2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 0;
  background-image: linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0);
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
  animation: map 13s infinite normal;
  animation-timing-function: linear;
  animation-play-state: paused;
}

footer .section2 .col-sec2:hover {
  animation-play-state: running;
}

footer .section2 .col-sec2 i {
  font-size: 2rem;
  padding-bottom: 1rem;
}

footer .section2 .col-sec2 p {
  font-size: 1.1rem;
  font-family: "Nanum Gothic Coding", monospace;
}

footer .section3 {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  margin: 3rem auto;
  width: 90%;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 1.4rem;
  font-weight: bold;
  background-image: linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0);
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
  animation: map 13s infinite normal;
  animation-timing-function: linear;
  animation-play-state: paused;
}

footer .section3:hover {
  animation-play-state: running;
}

footer .section3 input {
  width: 50rem;
  padding: 0 3rem;
}

footer .section4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3rem auto;
  width: 90%;
  font-size: 0.9rem;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
}

footer .section4 .col-left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer .section4 .col-left p, footer .section4 .col-left a {
  padding-right: 3rem;
}

footer .section4 .col-left a {
  text-decoration: underline;
}

main {
  display: grid;
  grid-template-columns: auto repeat(3, 3vw);
  grid-template-areas: 'pg1 pg2 pg3 pg4';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main .page-one {
  grid-area: pg1;
  display: block;
}

main .page-two {
  grid-area: pg2;
}

main .page-three {
  grid-area: pg3;
}

main .page-four {
  grid-area: pg4;
}

.page-one .img-hero-pg1 {
  margin: 0;
  padding: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.page-one .icon-one {
  display: inline-flex;
  position: fixed;
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  margin-left: 1vw;
}

.page-one .icon-one p {
  padding: .5rem 1rem;
  border: 1px solid #000;
  border-radius: 50%;
}

.page-one-head {
  font-size: 3rem;
  font-family: "Bad Script", cursive;
  padding: 15rem 30vw 11rem 5vw;
  line-height: 1.5;
}

.page-one-paraOne {
  font-size: 7.3rem;
  padding-left: 3vw;
  padding-right: 55vw;
}

.page-one-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  justify-content: space-around;
  padding: 0 3rem;
}

.page-one-flex .col {
  display: grid;
  grid-template-rows: auto;
}

.page-one-flex .col p {
  font-family: "Nanum Gothic Coding", monospace;
  line-height: 1.4;
}

.page-one-flex img {
  width: 100%;
}

.page-one-flexTwo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
  padding: 3.5rem 0;
  font-size: 6rem;
}

.page-one-flexTwo p:not(:nth-child(2)) {
  color: #fff;
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.page-one-flexThree {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  text-align: center;
  grid-gap: 3rem;
  position: relative;
  margin: 3rem 5rem;
  background: linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(90deg, black 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x;
  background-size: 40px 1px, 40px 1px;
  background-position: left top, right bottom;
  padding: 3rem 0 4rem 0;
  animation: border-dance 30s infinite normal;
  animation-timing-function: linear;
}

.page-one-flexThree::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 10px;
  margin: 0;
  padding: 1rem;
  background: linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(90deg, black 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x;
  background-size: 40px 1px, 40px 1px;
  background-position: left right;
  animation: border-dance-before 30s infinite normal;
  animation-timing-function: linear;
}

.page-one-flexThree::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 10px;
  margin: 0;
  padding: 1rem;
  background: linear-gradient(90deg, black 50%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 40px 1px, 40px 1px;
  background-position: right bottom;
  animation: border-dance-after 30s infinite normal;
  animation-timing-function: linear;
}

.page-one-flexThree .event-dates {
  padding: 0 3rem;
}

.page-one .see-all {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.page-one .see-all a {
  text-decoration: none;
  color: #000;
}

.page-one .see-all p {
  padding: 1.5rem 4rem;
  border: 1px solid #000;
  background-color: #fff;
}

.page-one .see-all p:hover {
  background-color: #000;
  color: #fff;
}

.page-one .directions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3.7rem;
  padding: 0 3.7rem;
  margin: 10rem 0 0.9rem;
}

.page-one .directions-text {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 90px 30px;
  background-image: linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0);
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
  animation: map 13s infinite normal;
  animation-timing-function: linear;
  animation-play-state: paused;
}

.page-one .directions-text:hover {
  animation-play-state: running;
}

.page-one .directions-text p {
  font-size: 3.7rem;
  margin: 0 3rem;
}

.page-one .directions-map {
  padding: 1px;
  background-image: linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0);
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
  animation: map 13s infinite normal;
  animation-timing-function: linear;
  animation-play-state: paused;
}

.page-one .directions-map:hover {
  animation-play-state: running;
}

.page-one .directions-map-img {
  background-position: cover;
  background-size: 50%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.page-two {
  display: grid;
  background-color: cornflowerblue;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 500ms ease-in;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.3rem;
}

.page-two p {
  justify-content: center;
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  transform: translateX(-15%);
}

.page-two .rotate {
  position: absolute;
  transform: rotate(90deg);
  top: 0;
  right: 0;
}

.page-three {
  background-color: tomato;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 500ms ease-in;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.3rem;
}

.page-three p {
  justify-content: center;
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  transform: translateX(-15%);
}

.page-three .rotate {
  position: absolute;
  transform: rotate(90deg);
  top: 0;
  right: 0;
}

.page-four {
  background-color: orange;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 500ms ease-in;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.3rem;
}

.page-four p {
  justify-content: center;
  position: absolute;
  margin: 0;
  right: 0;
  transform: translateX(-15%);
}

.page-four .rotate {
  justify-content: center;
  position: absolute;
  right: -1.5vw;
  transform: rotate(90deg);
}
