@import './components/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.4rem;
        
}


@import './components/header';
@import './components/hero';
@import './components/started';
@import './components/favorites';
@import './components/extras';
@import './components/payment';
@import './components/starCode';
@import './components/finePrint';
@import './components/information';
@import './components/socialMedia';


@import './components/mediaQuerys';
