// Hero 

.hero {
    margin: 0;
    position: relative;
    height: 77vh;
    padding-left: 8rem; 
    display: flex;
    align-items: center;
    overflow: hidden;
    background-image: url(/images/hero-star1.png);
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    background-color: #d4e9e2;


    .free-coffee {
        display: flex;
        flex-direction: column;
        width: 20rem;
        align-items: start;
        font-size: 1.2rem;

        &-header {
            font-size: 2.1rem;
            padding: 2rem 0;
        }

        p {
            padding-bottom: 1rem;
        }
        
        .join_now_2 {
            padding: .5rem 1.5rem;
            border-radius: 1.8rem;
            margin-bottom: 1rem;
            background-color: #008248;
            color: #fff;
            font-weight: 700;
            font-size: 1rem;
            cursor: pointer;
        }

        .join-app {

            a {
                color: black;
                text-decoration: underline;
            }
        }

    }
    
}