.information {

    .cover {
        padding: 2rem 0;
        border-bottom: 3px inset rgba(0, 0, 0, 0.1);
    }
    &_group {
        display: flex;
        padding: 3rem 15vw;
        gap: 3rem;
        // border-bottom: 3px inset rgba(0, 0, 0, 0.2);
        
        

        > * {
            flex: 1;
        }
        
        > div * {
            padding-bottom: 1rem;

        }
    }
    .about,
    .career,
    .socialImpact,
    .partners,
    .orders {

        display: flex;
        flex-direction: column;
        position: relative;

        p {
            font-size: 1.3rem;
            padding-bottom: 2.5rem;
        }
        
        a {
            color: rgba(0, 0, 0, 0.7);
            font-size: 1.1rem;
            padding: .75rem 0;
        }
        
    }
    &::after {
        content: "";
        width: 80%;
        height: 3px;
        color: black;
    }
}
.information {
    .carrot-icon {
        display: none;
    }

    .carrot-icon::before {
        content: "";
        // display: inline-block
        background-color: black;
        position: absolute;
        width: 20px;
        border-bottom: 1px solid #000;
        padding: 0;
        right: 2.725rem;
        top: 5%;
        transform: rotate(50deg);
    }
    .carrot-icon::after {
        content: "";
        background-color: #000;
        position: absolute;
        width: 20px;
        border-bottom: 1px solid #000;
        padding: 0;
        right: 2rem;
        top: 5%;
        transform: rotate(-50deg);
    }

}
