<div class="star">
    <svg class="star1" xmlns="http://www.w3.org/2000/svg" viewBox="29 16 8 8">
      <path d="M 30 24 L 33 16 L 36 24 L 29 19 L 37 19 " fill="#d2a04b" />
    </svg>
    <svg class="star2" xmlns="http://www.w3.org/2000/svg" viewBox="29 16 8 8">
      <path d="M 30 24 L 33 16 L 36 24 L 29 19 L 37 19 " fill="#008248" />
    </svg>
    <svg class="star3" xmlns="http://www.w3.org/2000/svg" viewBox="29 16 8 8">
      <path d="M 30 24 L 33 16 L 36 24 L 29 19 L 37 19 " fill="#d4e9e2" />
    </svg>
    <svg class="star4" xmlns="http://www.w3.org/2000/svg" viewBox="29 16 8 8">
      <path d="M 30 24 L 33 16 L 36 24 L 29 19 L 37 19 " fill="#1e3932" />
    </svg>
    <svg class="star5" xmlns="http://www.w3.org/2000/svg" viewBox="29 16 8 8">
        <path d="M 30 24 L 33 16 L 36 24 L 29 19 L 37 19 " fill="#d2a04b" />
      </svg>
      <svg class="star6" xmlns="http://www.w3.org/2000/svg" viewBox="29 16 8 8">
        <path d="M 30 24 L 33 16 L 36 24 L 29 19 L 37 19 " fill="#008248" />
      </svg>
      <svg class="star7" xmlns="http://www.w3.org/2000/svg" viewBox="29 16 8 8">
        <path d="M 30 24 L 33 16 L 36 24 L 29 19 L 37 19 " fill="#d4e9e2" />
      </svg>
      <svg class="star8" xmlns="http://www.w3.org/2000/svg" viewBox="29 16 8 8">
        <path d="M 30 24 L 33 16 L 36 24 L 29 19 L 37 19 " fill="#1e3932" />
      </svg>
      <svg class="star9" xmlns="http://www.w3.org/2000/svg" viewBox="29 16 8 8">
        <path d="M 30 24 L 33 16 L 36 24 L 29 19 L 37 19 " fill="#d2a04b" />
      </svg>
  </div>